{% extends "requisitions/base.html" %}

{% block content %}

<div class="container" style="max-width:400px">

<h3 class="mb-3">Login</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary w-100 mb-2">
        Login
    </button>
</form>

<!-- Forgot Password Link -->
<div class="text-center mt-3">
    <p>
        <a href="{% url 'password_reset' %}" class="text-decoration-none">
            Forgot Password?
        </a>
    </p>
</div>

</div>

{% endblock %}